.img {
  border-radius: 15%;
  margin: 30px 30px 5px;
  width: 70%;
}

.name {
  margin-left: 40px;
}

.div {
  background-color: rgb(252, 244, 198);
  border-radius: 10%;
  float: left;
  height: 0;
  margin: 1%;
  padding-bottom: 55%;
  position: relative;
  width: 48%;
}
