/* .recommendation-container {
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
} */

.recommendation-card img {
  border-right: solid 3px rgb(126, 107, 4);
  width: 50vw;
}

.start-recipe-btn {
  bottom: 0;
  left: calc(45vw - 5vw);
  margin-bottom: -20px;
  margin-left: -45px;
  position: relative;
  width: 40%;
}
